:root {
}

.ship_item_title {
    font-size: 24px;
    -unity-font-style: bold;
    -unity-font-definition: url("project://database/Assets/Sprites/Space_Exploration_GUI_Kit/Fonts/Font%20Sources/static/Asap_Expanded-BoldItalic.ttf?fileID=12800000&guid=d15f5ad7f8ba57d4c82970eeca851e84&type=3#Asap_Expanded-BoldItalic");
    -unity-text-align: middle-center;
    color: rgb(244, 244, 244);
    white-space: normal;
    text-overflow: clip;
}

.price_text {
    font-size: 20px;
    color: rgb(171, 219, 245);
    -unity-font-style: bold;
    -unity-font-definition: url("project://database/Assets/Sprites/Space_Exploration_GUI_Kit/Fonts/Font%20Sources/static/Asap_Condensed-SemiBold.ttf?fileID=12800000&guid=6bdc3438c3d6c70489258aec63575da4&type=3#Asap_Condensed-SemiBold");
}
