:root {
}

.button {
    background-image: url("project://database/Assets/Sprites/Space_Exploration_GUI_Kit/Button_Images/Source_Image_Sprites/extra%20large/short-blue-extra-large.png?fileID=2800000&guid=c1186c6c57955e74286697f5a74fa36d&type=3#short-blue-extra-large");
    background-color: rgba(0, 0, 0, 0);
    border-left-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0);
    border-top-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
    width: 12%;
    height: 10%;
    font-size: 35px;
    -unity-font-style: bold;
    -unity-text-align: middle-center;
    -unity-font-definition: url("project://database/Assets/Sprites/Space_Exploration_GUI_Kit/Fonts/Font%20Sources/static/Asap-MediumItalic.ttf?fileID=12800000&guid=8b32abadc7a10574fb6b083c7dbd96e0&type=3#Asap-MediumItalic");
    color: rgb(38, 28, 71);
}

.button:hover {
    background-image: url("project://database/Assets/Sprites/Space_Exploration_GUI_Kit/Button_Images/Highlighted_Sprite/extra%20large/short-blue-highlight-extra-large.png?fileID=2800000&guid=624d474650167f342abc875a633bf3bf&type=3#short-blue-highlight-extra-large");
    background-color: rgba(0, 0, 0, 0);
    border-left-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0);
    border-top-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
    scale: 1.1 1.1;
}

.button:active {
    background-image: url("project://database/Assets/Sprites/Space_Exploration_GUI_Kit/Button_Images/Pressed_Sprites/Extra_Large/short-blue-pressed-extra-large.png?fileID=2800000&guid=dadfdc6c75932634e8c2206d06746312&type=3#short-blue-pressed-extra-large");
    scale: 1 1;
}

.scene_title {
    font-size: 130px;
    -unity-font-definition: url("project://database/Assets/Sprites/Space_Exploration_GUI_Kit/Fonts/Font%20Sources/Righteous-Regular.ttf?fileID=12800000&guid=3365d868468c1f143aa3fbb4d8a4e397&type=3#Righteous-Regular");
    -unity-font-style: normal;
    -unity-text-align: middle-center;
    color: rgb(254, 238, 184);
    -unity-text-outline-width: 3px;
    -unity-text-outline-color: rgb(255, 254, 255);
}

.star_text {
    color: rgb(255, 254, 255);
    -unity-font-style: normal;
    -unity-text-align: middle-right;
    font-size: 50px;
    -unity-font-definition: url("project://database/Assets/Sprites/Space_Exploration_GUI_Kit/Fonts/Font%20Sources/static/Asap-SemiBoldItalic.ttf?fileID=12800000&guid=ce95205ef417460469c7ef474b0e4e11&type=3#Asap-SemiBoldItalic");
}

.unity-scroller__low-button {
    background-image: url("project://database/Assets/UI%20Toolkit/UnityThemes/UnityDefaultRuntimeTheme.tss?fileID=6936960519852013934&guid=5e8031e43a47b044899a938fe3637244&type=3#arrow-up@2x");
    -unity-background-image-tint-color: rgb(250, 248, 250);
    background-color: rgba(157, 140, 157, 0);
    border-left-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0);
    border-top-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
}

.unity-scroller__high-button {
    border-left-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0);
    border-top-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
    background-image: url("project://database/Assets/UI%20Toolkit/UnityThemes/UnityDefaultRuntimeTheme.tss?fileID=-1304905567622442630&guid=5e8031e43a47b044899a938fe3637244&type=3#arrow-down@2x");
    background-color: rgba(157, 140, 157, 0);
    -unity-background-image-tint-color: rgb(255, 255, 255);
}

.unity-tracker {
    background-image: url("project://database/Assets/Sprites/Space_Exploration_GUI_Kit/Settings_&_Menu_Components/Extra%20Large/vertical-scroll-bar-container-extra-large.png?fileID=2800000&guid=44972e3d8da0f7a45aa1d4511254269b&type=3#vertical-scroll-bar-container-extra-large");
}

.dialog-title-text {
    color: rgb(255, 254, 255);
    -unity-font-style: normal;
    -unity-text-align: middle-center;
    font-size: 50px;
    -unity-font-definition: url("project://database/Assets/Sprites/Space_Exploration_GUI_Kit/Fonts/Font%20Sources/static/Asap-SemiBoldItalic.ttf?fileID=12800000&guid=ce95205ef417460469c7ef474b0e4e11&type=3#Asap-SemiBoldItalic");
}

.dialog-body-text {
    color: rgb(255, 254, 255);
    -unity-font-style: normal;
    -unity-text-align: middle-center;
    font-size: 40px;
    -unity-font-definition: url("project://database/Assets/Sprites/Space_Exploration_GUI_Kit/Fonts/Font%20Sources/static/Asap-Regular.ttf?fileID=12800000&guid=f119e56ea50dc7a4c8c81771ff57e5c3&type=3#Asap-Regular");
}

.button-close {
    font-size: 40px;
    -unity-font-definition: url("project://database/Assets/Sprites/Space_Exploration_GUI_Kit/Fonts/Font%20Sources/static/Asap-Regular.ttf?fileID=12800000&guid=f119e56ea50dc7a4c8c81771ff57e5c3&type=3#Asap-Regular");
    -unity-text-align: middle-center;
    background-image: url("project://database/Assets/Sprites/Space_Exploration_GUI_Kit/Button_Images/Source_Image_Sprites/extra%20large/short-yellow-extra-large.png?fileID=2800000&guid=c8dd6d8869346624c8adc63daa4146b9&type=3#short-yellow-extra-large");
    background-color: rgba(0, 0, 0, 0);
    border-left-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0);
    border-top-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
    padding-top: 25px;
    padding-right: 50px;
    padding-bottom: 25px;
    padding-left: 50px;
    align-self: center;
    -unity-font-style: bold;
}

.button-close:hover {
    background-image: url("project://database/Assets/Sprites/Space_Exploration_GUI_Kit/Button_Images/Highlighted_Sprite/extra%20large/short-yellow-highlight-extra-large.png?fileID=2800000&guid=30482ad39c739c248b565c58246f1702&type=3#short-yellow-highlight-extra-large");
    scale: 1.1 1.1;
}

.button-close:active {
    background-image: url("project://database/Assets/Sprites/Space_Exploration_GUI_Kit/Button_Images/Pressed_Sprites/Extra_Large/short-yellow-pressed-extra-large.png?fileID=2800000&guid=2f29148c1d44fcd40a53f8e069862c74&type=3#short-yellow-pressed-extra-large");
    scale: 1 1;
}

.cross-button-container {
    position: absolute;
    left: auto;
    top: auto;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
}

.cross-button-container:hover {
    scale: 1.1 1.1;
}

.button-confirm-purchase {
    font-size: 40px;
    -unity-font-definition: url("project://database/Assets/Sprites/Space_Exploration_GUI_Kit/Fonts/Font%20Sources/static/Asap-Regular.ttf?fileID=12800000&guid=f119e56ea50dc7a4c8c81771ff57e5c3&type=3#Asap-Regular");
    -unity-text-align: middle-center;
    background-image: url("project://database/Assets/Sprites/Space_Exploration_GUI_Kit/Button_Images/Source_Image_Sprites/extra%20large/short-yellow-extra-large.png?fileID=2800000&guid=c8dd6d8869346624c8adc63daa4146b9&type=3#short-yellow-extra-large");
    background-color: rgba(0, 0, 0, 0);
    border-left-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0);
    border-top-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
    padding-top: 25px;
    padding-right: 50px;
    padding-bottom: 25px;
    padding-left: 50px;
    align-self: center;
    -unity-font-style: bold;
}

.button-confirm-purchase:hover {
    background-image: url("project://database/Assets/Sprites/Space_Exploration_GUI_Kit/Button_Images/Highlighted_Sprite/extra%20large/short-yellow-highlight-extra-large.png?fileID=2800000&guid=30482ad39c739c248b565c58246f1702&type=3#short-yellow-highlight-extra-large");
    scale: 1.1 1.1;
}

.button-confirm-purchase:active {
    background-image: url("project://database/Assets/Sprites/Space_Exploration_GUI_Kit/Button_Images/Pressed_Sprites/Extra_Large/short-yellow-pressed-extra-large.png?fileID=2800000&guid=2f29148c1d44fcd40a53f8e069862c74&type=3#short-yellow-pressed-extra-large");
    scale: 1 1;
}

.button-cancel-purchase {
    font-size: 40px;
    -unity-font-definition: url("project://database/Assets/Sprites/Space_Exploration_GUI_Kit/Fonts/Font%20Sources/static/Asap-Regular.ttf?fileID=12800000&guid=f119e56ea50dc7a4c8c81771ff57e5c3&type=3#Asap-Regular");
    -unity-text-align: middle-center;
    background-image: url("project://database/Assets/Sprites/Space_Exploration_GUI_Kit/Button_Images/Source_Image_Sprites/extra%20large/short-blue-extra-large.png?fileID=2800000&guid=c1186c6c57955e74286697f5a74fa36d&type=3#short-blue-extra-large");
    background-color: rgba(0, 0, 0, 0);
    border-left-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0);
    border-top-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
    padding-top: 25px;
    padding-right: 50px;
    padding-bottom: 25px;
    padding-left: 50px;
    align-self: center;
    -unity-font-style: bold;
}

.button-cancel-purchase:hover {
    background-image: url("project://database/Assets/Sprites/Space_Exploration_GUI_Kit/Button_Images/Highlighted_Sprite/extra%20large/short-blue-highlight-extra-large.png?fileID=2800000&guid=624d474650167f342abc875a633bf3bf&type=3#short-blue-highlight-extra-large");
    scale: 1.1 1.1;
}

.button-cancel-purchase:active {
    background-image: url("project://database/Assets/Sprites/Space_Exploration_GUI_Kit/Button_Images/Pressed_Sprites/Extra_Large/short-blue-pressed-extra-large.png?fileID=2800000&guid=dadfdc6c75932634e8c2206d06746312&type=3#short-blue-pressed-extra-large");
    scale: 1 1;
}

.unity-scroll-view__content-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.backpack-button {
    background-image: url("project://database/Assets/Sprites/Space_Exploration_GUI_Kit/Icons/inventory-512.png?fileID=2800000&guid=0bd6fd3c9c173ff438cf0556e5fbf8f0&type=3#inventory-512");
    width: 150px;
    height: 150px;
    -unity-background-scale-mode: scale-to-fit;
    position: absolute;
    top: 2%;
    right: 30%;
}

.backpack-button:hover {
    scale: 1.1 1.1;
}

.header-container {
    background-color: rgb(56, 44, 91);
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    border-left-color: rgb(255, 255, 255);
    border-right-color: rgb(255, 255, 255);
    border-top-color: rgb(255, 255, 255);
    border-bottom-color: rgb(255, 255, 255);
    border-top-width: 1.5px;
    border-right-width: 1.5px;
    border-bottom-width: 1.5px;
    border-left-width: 1.5px;
}

.header-container:hover {
    background-color: rgb(132, 90, 167);
}
