:root {
}

.botones {
}

.botones:hover {
    background-color: rgba(76, 76, 76, 0);
    background-image: none;
    scale: 1.1 1.1;
    transition-duration: 0.35s;
}

.botones:active {
    background-color: rgba(77, 77, 77, 0);
    -unity-background-image-tint-color: rgba(79, 50, 95, 0.46);
}

.OBSCURO {
    opacity: 0.17;
}
